extends includes/layout


block css

    link(rel="stylesheet", href="css/platonic-solids.css")


block scene
    
    include includes/grid
    include includes/display-axis

    .group(data-group-id="0", data-camera-transform="1")

        //- Octahedron

        //- .mesh.octahedron(data-mesh-id="0", data-light="1")
        //-     - for (var i = 0; i < 8; i++)
        //-         .face(data-face-id="#{i}")

        //- Tetrahedron

        //- .mesh.tetrahedron(data-mesh-id="1", data-light="1")
        //-     - for (var i = 0; i < 4; i++)
        //-         .face(data-face-id="#{i}")

        //- Icosahedron

        //- .mesh.icosahedron(data-mesh-id="2", data-light="1")
        //-     - for (var i = 0; i < 20; i++)
        //-         .group(data-group-id="#{i}")
        //-             .face(data-face-id="#{i}")

        //- Dodecahedron

        .mesh.dodecahedron(data-mesh-id="3", data-light="1")
            .face(data-face-id="0")
            .face(data-face-id="11")
            //- .group(data-group-id="1")
            //-     .face(data-face-id="1")
            .particle(data-particle-id="10")
            .particle(data-particle-id="0")
            .particle(data-particle-id="1")
            .particle(data-particle-id="2")
            .particle(data-particle-id="3")
            .particle(data-particle-id="4")

            .particle(data-particle-id="5")
            .particle(data-particle-id="6")
            .particle(data-particle-id="7")
            .particle(data-particle-id="8")
            .particle(data-particle-id="9")

            //- tmp
            .particle(data-particle-id="15")

            .group(data-group-id="6")
                .face(data-face-id="6")

            - for (var i = 0; i < 5; i++)
                .group(data-group-id="#{i}")
                    .face(data-face-id="#{i}")


            //- .group(data-group-id="7")
            //-         .face(data-face-id="7")

            //- .group(data-group-id="8")
            //-         .face(data-face-id="8")

            //- - for (var j = 5; j < 12; j++)
            //-     .group(data-group-id="#{j}")
            //-         .face(data-face-id="#{j}")