
//- Plane

mixin plane(id, light, camera)
    - id     = id     || 0
    - light  = light  || 0
    - camera = camera || 0
    .mesh.plane(data-mesh-id="#{id}", data-light="#{light}", data-camera-transform="#{camera}")
        .face(data-face-id="0")

//- Plane

mixin cube(id, light, camera)
    - id     = id     || 0
    - light  = light  || 0
    - camera = camera || 0
    .mesh.cube(data-mesh-id="#{id}", data-light="#{light}", data-camera-transform="#{camera}")
        - for(i = 0; i < 6; i++)
            .face(data-face-id="#{i}")

//- Pyramid

mixin pyramid(id, light, camera)
    - id     = id     || 0
    - light  = light  || 0
    - camera = camera || 0
    .mesh.pyramid(data-mesh-id="#{id}", data-light="#{light}", data-camera-transform="#{camera}")
        - for(i = 0; i < 5; i++)
            .face(data-face-id="#{i}")
