
//- Grid

mixin grid(id, light, camera, classes)
    - id     = id       || 0
    - light  = light    || 0
    - camera = camera   || 0
    - classes = classes || ''
    .ui-component.grid(class="#{classes}", data-component-id="#{id}", data-light="#{light}", data-camera-transform="#{camera}")
        .grid


//- Display axis

mixin display-axis(id, light, camera, classes)
    - id     = id       || 0
    - light  = light    || 0
    - camera = camera   || 0
    - classes = classes || ''
    .ui-component.display-axis(class="#{classes}", data-component-id="#{id}", data-light="0", data-camera-transform="#{camera}")
        .mesh.line.x
        .mesh.line.y
        .mesh.line.z